@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?ni7owh');
  src:  url('assets/fonts/icomoon.eot?ni7owh#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?ni7owh') format('truetype'),
    url('assets/fonts/icomoon.woff?ni7owh') format('woff'),
    url('assets/fonts/icomoon.svg?ni7owh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social';
  src:  url('assets/fonts/social.eot?ni7owh');
  src:  url('assets/fonts/social.eot?ni7owh#iefix') format('embedded-opentype'),
    url('assets/fonts/social.ttf?ni7owh') format('truetype'),
    url('assets/fonts/social.woff?ni7owh') format('woff'),
    url('assets/fonts/social.svg?ni7owh#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'app-icons';
  src:  url('assets/fonts/app-icons.eot?ni7owh');
  src:  url('assets/fonts/app-icons.eot?ni7owh#iefix') format('embedded-opentype'),
    url('assets/fonts/app-icons.ttf?ni7owh') format('truetype'),
    url('assets/fonts/app-icons.woff?ni7owh') format('woff'),
    url('assets/fonts/app-icons.svg?ni7owh#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'x-mark';
  src:  url('assets/fonts/x.eot?ni7owh');
  src:  url('assets/fonts/x.eot?ni7owh#iefix') format('embedded-opentype'),
    url('assets/fonts/x.ttf?ni7owh') format('truetype'),
    url('assets/fonts/x.woff?ni7owh') format('woff'),
    url('assets/fonts/x.svg?ni7owh#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chevron-icon';
  src:  url('assets/fonts/chevron.eot?ni7owh');
  src:  url('assets/fonts/chevron.eot?ni7owh#iefix') format('embedded-opentype'),
    url('assets/fonts/chevron.ttf?ni7owh') format('truetype'),
    url('assets/fonts/chevron.woff?ni7owh') format('woff'),
    url('assets/fonts/chevron.svg?ni7owh#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'linkedin-icon';
  src:  url('assets/fonts/linkedin.eot?ni7owh');
  src:  url('assets/fonts/linkedin.eot?ni7owh#iefix') format('embedded-opentype'),
    url('assets/fonts/linkedin.ttf?ni7owh') format('truetype'),
    url('assets/fonts/linkedin.woff?ni7owh') format('woff'),
    url('assets/fonts/linkedin.svg?ni7owh#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: #333;
	outline: none;
}

html * {
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button { font-family: 'Nunito', sans-serif; }

.list-unstyled { list-style: none; }

.partial-bootstrapper { 
	height: 100%;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.img-responsive {
	display: block;
	max-width: 100%;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.center-block {
	display: block;
	margin: 0 auto;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.nav {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.nav-brand,
.navbar {
	display: inline-block;
	cursor: pointer;
}

.nav-brand img {
	margin-top: 12px;
	margin-bottom: 12px;
	width: 144px;
}

.navbar ul {
	-webkit-padding-start: 0px !important;
}

.navbar li {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 12px;
	letter-spacing: 2px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.navbar li.active {
	padding: 10px 25px;
	font-weight: 900;
	background-color: #25ace4;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
}

.navbar li.active a{ color: #f7f7f7; }

.navbar li:last-child {
	padding: 10px 25px;
	border: 2px solid #ffffff;
	border-radius: 40px;
}

.nav-page .navbar li:last-child,
.nav-page .navbar li.signup-btn {
	border-color: #3c424f;
	border-width: 1px;
}
	

.navbar li.signup-btn {
	padding: 5px;
	border-bottom: 1px solid #ffffff;
}

.navbar li:not(:last-child) {
	margin-right: 12px;
}

.navbar li a {
	color: #ffffff;
	text-decoration: none;
}

.nav-home,
.nav-page {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.nav-home {
	color: #f7f7f7;
	border-bottom: 1px solid rgba(285, 285, 285, .2);
}

.nav-page { 
	background-color: #ffffff;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
								0 5px 8px 0 rgba(0,0,0,.14),
								0 1px 14px 0 rgba(0,0,0,.12);	
}

.nav-page li a {
	color: #3c424f;
}


.nav-home.scrolled { 
	background-color: #3c424f;
	border-bottom: none;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
							0 5px 8px 0 rgba(0,0,0,.14),
							0 1px 14px 0 rgba(0,0,0,.12);
}

.waypoint {
	position: absolute; 
	top: 20%;
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;  
}*/

.masthead {
	position: relative;
}

.masthead .video-overlay {
	position: absolute;
	width: 100%;
	height: calc(100% - 7px);
	background-color: rgba(31, 33, 33, .5);
}

.masthead-content {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;
	transform: translate(-50%, -50%);
	text-align: center;
}

.masthead-content .tagline-title {
	margin: 0;
	font-weight: 400;
	font-size: 90px;
	color: rgba(247, 247, 247, 1);
	letter-spacing: 1px;
}

.masthead-content .tagline {
	margin: 0;
	font-weight: 300;
	color: #9E9E9E;
}

.masthead-content .search-bar input,
.masthead-content .search-bar button {
	border: none;
	height: 50px;
}

.masthead-content .search-bar input:focus,
.masthead-content .search-bar button:focus,
.masthead-content .search-bar button:hover {
	outline: none;
}

.masthead-content .search-bar input {
	width: 70%;
	padding: 5px 20px;
	font-size: 16px;
	font-weight: 300;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.masthead-content .search-bar button {
	width: 30%;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #25ace4;
	cursor: pointer;
}

.search-bar {
	margin-top: 1em;
	width: 550px;
}

.masthead-content img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -200px;
	width: 40px;
	margin-top: 3em;
	padding: 10px;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.masthead-content .fadeInUp:first-child {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.masthead-content .fadeInUp:nth-child(2) {
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}

.masthead-content .fadeInUp:nth-child(3) {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}

.masthead-content .fadeInUp:last-child {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.floating {
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.section-info {
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
}

.section-info h1,
.section-info h2 {
	margin: 0;
	text-align: center;
}

.section-info h1 {
	margin-bottom: 1em;
	font-size: 28px;
	font-weight: 900;
	color: #3c424f;
}

.section-info h2 {
	font-weight: 800;
	font-size: 15.9px;
	color: #686b77;
}

.section-info img:first-of-type,
.section-info img:last-of-type {
	position: absolute;
	width: auto;
	transform: translate(0%, -50%);
	top: 50%;
}

.section-info img:first-of-type {
	left: 0;
}

.section-info img:last-of-type {
	right: 0;
}

.what-we-do .wrap .col:first-child {
	display: flex;
	flex-direction: row;
	/*width: 100%;*/
}

.what-we-do .wrap .col:first-child img {
	object-fit: cover;
	flex: 1;
	/*margin-right: 1rem;*/
	overflow: hidden;
	height: 427px;
}

.what-we-do .wrap .col:last-child {
	padding: 3.3em 5em 5em;
	background-color: #25ace4;
	color: #ffffff;
}

.what-we-do .wrap .col:last-child h1 {
	font-size: 25px;
	font-weight: 700;
}

.what-we-do .wrap .col:last-child p {
	margin-top: 2em;
	font-size: 16px;
	font-weight: 600;
}

.what-we-do .wrap .col:last-child button {
	margin-top: 1em;
	padding: 15px 25px;
	background-color: #ffffff;
	font-weight: 600;
	font-size: 18px;
	color: #25ace4;
	border: none;
	text-transform: uppercase;
	border-radius: 30px;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
	cursor: pointer;
	outline: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.what-we-do .wrap .col:last-child button:active {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.testimonial {
	position: relative;
	min-height: 500px;
	background: transparent url(assets/img/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
}

.testimonial-holder {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.testimonial ul {
	height: 250px;
	margin: 0;
}

.testimonial-holder .layer img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.testimonial-holder .layer figure {
	position: relative;
}

.testimonial-holder .layer .img-quote {
	position: absolute;
	width: 32px;
	height: 32px;
	top: -5px;
	left: -55px;
	right: 0;
	line-height: 37px;
	font-weight: 700;
	font-size: 21px;
	color: #ffffff;
	text-align: center;
	background-color: #25ace4;
	border-radius: 50%;
	border: 3px solid #ffffff;
}

.testimonial-holder .layer figcaption {
	width: 70%;
	margin-top: 1em;
	font-weight: 600;
	color: #BDBDBD;
	text-align: center;
	line-height: 1.6;
}

.layer figcaption p {
	margin: 12px auto 0;
	font-size: 16px;
	color: #ffffff
}

.layer figcaption small {
	margin-top: .5em;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	color: #F5F5F5;
}

.rn-carousel-control {
	font-size: 3rem !important;
	position: absolute;
	top: -11% !important;
	opacity: .4;
	color: #9d9696;
}

.rn-carousel-controls {
	position: absolute;
	top: 15%;
	left: 50%;
	margin: 0 auto;
	width: 15%;
	height: 29px;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	transform: translate(-50%, -15%);
}

.rn-carousel-control.rn-carousel-control-prev:before {
  content: "\e408" !important;
}
.rn-carousel-control.rn-carousel-control-next:before {
  content: "\e409" !important;
}

.rn-carousel-control.rn-carousel-control-next { right: 0% !important; }

.rn-carousel-control.rn-carousel-control-prev { left: 0% !important; }

.partners-logo { padding-bottom: 3em; }

.footer { position: relative; }

.scroll-top {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	width: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: #25ace4;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
							0 4px 5px 0 rgba(0,0,0,.14),
							0 1px 10px 0 rgba(0,0,0,.12);
	cursor: pointer;
}

.footer-upper { background-color: #3c424f; }

.footer-content { padding: 2em; }

.footer-content .header-title {
	font-weight: 700;
	color: #ffffff;
}

.footer-content ul li { 
	position: relative;
	font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
	padding-left: 1.3em;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	color: #6c6d6e;
}

	.footer-content ul li:not(:last-child) { padding-bottom: 16px;}

.footer-content ul li:before { 
	position: absolute;
	content: '\e409';
	left: 0;
	font-size: 1.1rem;
	line-height: 1.1
}

.footer-content ul a {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #6c6d6e;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.footer-content ul a:hover {
	padding-left: .2em;
	color: #ffffff;
}

.footer-content .news-letter-form {
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	background-color: #ffffff;
}

.footer-content .news-letter-form input,
.footer-content .news-letter-form button {
	height: 35px;
	border: none;
	outline: none;
}

.footer-content .news-letter-form input { width: 65%; }

.footer-content .news-letter-form button {
	width: 35%;
	padding: 6px;
	font-weight: 800;
	font-size: 11px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #25ace4;
	border-radius: 3px;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-trnsition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.footer-content .news-letter-form button:hover {
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
							0 4px 5px 0 rgba(0,0,0,.14),
							0 1px 10px 0 rgba(0,0,0,.12);
}

.footer-content .news-letter-form button:active {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
							0 6px 10px 0 rgba(0,0,0,.14),
							0 1px 18px 0 rgba(0,0,0,.12);
}

.footer-content .header-title.newsletter {
	padding-top: 12px;
	border-top: 1px solid rgba(247,247,247,.1);
}

.footer-content .news-letter-form input { padding: 12px; }

.footer-content p {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #6c6d6e;
}

.footer-content .support-info {
	display: block;
	margin-top: .9em; 
	color: #ffffff;
}

.footer-content ul.social-icons li { 
	position: relative;
	font-family: 'social' !important;
  speak: none;
  font-style: normal;
	padding-left: 1.3em;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	color: #6c6d6e;
}

ul.social-icons li {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #6c6d6e;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	cursor: pointer;
}

ul.social-icons li:hover { 
	color: #25ace4;
	border-color: #25ace4;
}

ul.social-icons li:before {
	position: absolute;
	left: 0;
	right: 0;
	line-height: 50px;
}

ul.social-icons li:first-child:before { content: '\ea90'; }
ul.social-icons li:last-child:before { content: '\eaca'; }

.footer-lower {
	padding: 2em;
	background-color: #686b77;
	color: #ffffff;
}

.footer-lower p {
	margin: 0;
	padding-left: 2em;
	padding-right: 2em;
}

.page-masthead {
	position: relative;
	margin-top: 75px;
	height: 250px;
}

.page-masthead:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(31,172,228,.2);
}

.page-masthead img:first-of-type,
.page-masthead img:last-of-type {
	position: absolute;
	width: auto;
	transform: translate(0%, -50%);
	top: 50%;
}

.page-masthead img:first-of-type { left: 0; }
.page-masthead img:last-of-type { right: 0; }

.page-masthead.browse-jobs {
	background: #686b77 url(assets/img/browsejobs-masthead.jpg) no-repeat center center;
	background-size: cover;
}

.page-masthead.pricing {
	background: #686b77 url(assets/img/pricing-masthead.jpg) no-repeat center center;
	background-size: cover;
}

.page-masthead .masthead-meta {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	letter-spacing: 1px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.job-search-bar {
	/*margin-top: 1.5em;*/
	margin: 1em auto .5em;
	padding: 16px 16px 0;
	background-color: #3c424f;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.job-search-bar-input {
	padding: 5px;
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.job-search-bar-input img {margin: 8px; }

.job-search-bar-input input {
	width: 100%;
	margin: 5px;
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #333;
	border: none;
}

.job-search-bar-input input:focus { outline: none; }

.job-search-bar-input button {
	width: 100%;
	padding: .5em;
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	background-color: #25ace4;
	color: #ffffff;
	outline: none;
	border: none;
	cursor: pointer;
}

.search-filter-holder ul { margin: 0; }

.search-filter-holder ul li {
	position: relative;
	display: inline-block;
	/*padding: 8px 0 8px;*/
}

.search-filter-holder ul li button {
	position: relative;
	margin: 8px 0 8px;
	padding: 8px 35px 8px 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #ffffff;
	outline: none;
	border: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	background-color: transparent;
	cursor: pointer;
} 

.search-filter-holder ul li button:hover { background-color: #686b77; }

.search-filter-holder ul li button:before {
	position: absolute;
	content: '\e900';
	top: 6px;
	right: 12px;
	font-family: 'app-icons';
	font-size: 21px;
}

.search-filter-holder ul .open button:before {
	top: 14px;
}

.search-filter-holder .dropdown-menu {
	position: absolute;
	z-index: 10;
	min-width: 250px;
	width: auto;
	top: 51px;
	padding-top: 16px; 
	padding-bottom: 16px; 
	background-color: #686b77;
}

.search-filter-holder li:nth-child(2) .dropdown-menu { width: 500px; }

.search-filter-holder .dropdown-menu li {
	display: block;
	padding: 3px 16px !important;
}

.search-filter-holder .dropdown-menu li,
.search-filter-holder .dropdown-menu li label { cursor: pointer; }


.dropdown-menu li a,
.dropdown-menu li label span span {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.dropdown-menu li label span span {
	padding: inherit;
	color: inherit;
}

.dropdown-menu li a {
	display: block;
	width: 100%;
	font-weight: 800;
}

.dropdown-menu li a:focus,
.dropdown-menu li a:active { outline: none; } 

.search-filter-holder li:first-child .dropdown-menu li a:hover,
.dropdown-menu li label:hover span span {
	color: #ffffff;
	padding-left: 3px;
}

.search-filter-holder .dropdown-menu li.active {
	/*background-color: #25ace4;*/
	color: #25ace4;
}

.search-filter-holder .dropdown-menu .tae li:first-child { color: green; }

.search-filter-holder .open button {
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #686b77;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

ul li:nth-child(2) .dropdown-menu .divider,
ul li:nth-child(3) .dropdown-menu .divider,
ul li:nth-child(4) .dropdown-menu .divider,
ul li:last-child .dropdown-menu .divider { display: none; }

ul li:nth-child(2) .dropdown-menu li:first-child,
ul li:nth-child(2) .dropdown-menu li:nth-child(2),
ul li:nth-child(3) .dropdown-menu li:first-child,
ul li:nth-child(3) .dropdown-menu li:nth-child(2),
ul li:nth-child(4) .dropdown-menu li:first-child,
ul li:nth-child(4) .dropdown-menu li:nth-child(2),
ul li:nth-child(5) .dropdown-menu li:first-child,
ul li:nth-child(5) .dropdown-menu li:nth-child(2),
ul li:last-child .dropdown-menu li:first-child,
ul li:last-child .dropdown-menu li:nth-child(2) { color: #ffffff; }

.search-filter-holder ul li:nth-child(2) .dropdown-menu {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

.filter-listing {
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),
							0 3px 4px 0 rgba(0,0,0,.14),										
							0 3px 3px -2px rgba(0,0,0,.12);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.filter-listing ul { margin: 0; }

.filter-listing ul li { display: inline-block; }

.filter-listing .filter-pill {
	padding: 3px 28px 3px 15px;
	background-color: #25ace4;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.filter-listing .clear-filters {
	position: relative;
	padding: 3px 15px 3px 28px;
	color: #3c424f;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #25ace4;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	cursor: pointer;
}

.filter-listing li:not(:first-child) { 
	margin-left: 5px;
	margin-bottom: 5px;
	}

.filter-pill .filter-type {
	font-weight: 700;
	color: #ffffff;
	line-height: 2;
}

.filter-pill .filter-label {
	font-weight: 700;
	color: #3c424f;
}

.remove-filter-pill {
	position: relative;
	height: 20px;
	display: inline-block;
	cursor: pointer;
}

.remove-filter-pill:before,
.clear-filters:before {
	position: absolute;
	content: '\e950';
	font-family: 'x-mark', sans-serif;
	font-size: 20px;
	top: 5px;
	line-height: 1;
}

.remove-filter-pill:before { right: -15px; }
.clear-filters:before { 
	left: 8px;
	line-height: .8;
}

.result-dt {
	margin-top: 1em;
	margin-bottom: 1em;
}

.result-count {
	font-weight: 600;
	text-transform: uppercase;
}

.result-count,
.sort-dt {
	padding-left: 15px;
	padding-right: 15px;
}

.sort-relevance {
	position: relative;
	float: right;
	/*margin: 8px 0 8px;*/
	padding: 8px 35px 8px 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #3c424f;
	outline: none;
	background-color: #ffffff;
	border: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	background-color: transparent;
	cursor: pointer;
	-webkit-appearance: none;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),							
							0 2px 2px 0 rgba(0,0,0,.14),							
							0 3px 1px -2px rgba(0,0,0,.12);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.sort-relevance:hover {
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),
							0 3px 4px 0 rgba(0,0,0,.14),
							0 3px 3px -2px rgba(0,0,0,.12);
}

.sort-relevance:active {
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
							0 4px 5px 0 rgba(0,0,0,.14),
							0 1px 10px 0 rgba(0,0,0,.12);
}

.sort-dt { 
	position: relative;	
}

.sort-dt:before {
	position: absolute;
	content: '\e900';
	top: 8px;
	right: 30px;
	font-family: 'app-icons';
	font-size: 21px;
	color: #3c424f;
}

.jobs-dt { margin: 1em auto; }

.jobs-dt table { 
	width: 100%;
	border: none;
}

.jobs-dt table thead {
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	background-color:#25ace4;
}

.jobs-dt table thead > tr th,
.jobs-dt table tbody > tr td { 
	padding: 15px;
	font-size: 18px;
	text-align: left;
}

.jobs-dt table tbody > tr { cursor: pointer; }

.jobs-dt table {
	font-weight: 700;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
							0 4px 5px 0 rgba(0,0,0,.14),
							0 1px 10px 0 rgba(0,0,0,.12);
}

.jobs-dt table tbody tr:nth-child(even) {
   background-color: #f6f8fe;
}

.jobs-dt table tbody td { 
	font-size: 14px !important;
	border-bottom: 1px solid #e6e9f2;
}

.jobs-dt tbody .td-post-date { position: relative; }
.jobs-dt tbody .td-post-date span { 
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	border-left: 3px solid #4caf50;
}

.footer-holder {
	padding: 10px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
							0 4px 5px 0 rgba(0,0,0,.14),
							0 1px 10px 0 rgba(0,0,0,.12);
}

.item-per-page {
	position: relative;
	float: left;
	z-index: 10;
	/*margin: 8px 0 8px;*/
	padding: 3px 35px 3px 16px;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #3c424f;
	outline: none;
	background-color: transparent;
	border: none;
	-webkit-appearance: none;
	cursor: pointer;
}

.item-per-page-holder { 
	position: relative;
	float: left;
	cursor: pointer;
	background-color: #e6e9f2;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.item-per-page-holder:before {
	position: absolute;
	content: '\e900';
	/*z-index: 10;*/
	top: 3px;
	right: 15px;
	font-family: 'app-icons';
	font-weight: 700;
	font-size: 21px;
	color: #3c424f;
}

.per-page-meta { 
	margin: 0;
	padding-left: 8em;
	font-size: 11px;
	font-weight: 800;
	line-height: 2.9;
	text-transform: uppercase;
}

.pagination {
	float: right;
	display: inline-flex;
	margin: .5em auto;
	font-weight: 700;
	font-size: 14px;
	border: 1px solid #e6e9f2;
}

.pagination li a {
	display: block;
	color: #3c424f;
	padding: 6px 12px;
	text-decoration: none;
	text-align: center
}

.pagination li:not(:first-child) {
	border-left: 1px solid #e6e9f2;
}

.pagination li.page-navs a {
	color: #25ace4 !important;
}

.pagination li.page-navs.disabled a {
	color: #838997 !important;
	pointer-events: none;
}

.pagination li.active a {
	color: #ffffff;
	background-color: #25ace4 !important;
}

.modal-jellymate {
  -webkit-animation: animation 700ms ease-in-out both;
  animation: animation 700ms ease-in-out both;
}

@keyframes animation {
  0% {
    transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.55, 0, 0, 0, 0, 1.55, 0, 0, 0, 0, 1, 0, -34.389, 0, 0, 1);
  }
  5.61% {
    transform: matrix3d(1.459, 0, 0, 0, 0, 1.459, 0, 0, 0, 0, 1, 0, -25.868, 0, 0, 1);
  }
  8.41% {
    transform: matrix3d(1.197, 0, 0, 0, 0, 1.197, 0, 0, 0, 0, 1, 0, -8.012, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.117, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, -4.228, 0, 0, 1);
  }
  11.11% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(0.859, 0, 0, 0, 0, 0.859, 0, 0, 0, 0, 1, 0, -3.171, 0, 0, 1);
  }
  14.21% {
    transform: matrix3d(0.856, 0, 0, 0, 0, 0.856, 0, 0, 0, 0, 1, 0, -3.218, 0, 0, 1);
  }
  17.22% {
    transform: matrix3d(0.795, 0, 0, 0, 0, 0.795, 0, 0, 0, 0, 1, 0, -3.708, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(0.788, 0, 0, 0, 0, 0.788, 0, 0, 0, 0, 1, 0, -3.545, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(0.849, 0, 0, 0, 0, 0.849, 0, 0, 0, 0, 1, 0, -2.099, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(0.952, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, -0.575, 0, 0, 1);
  }
  33.33% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, -0.206, 0, 0, 1);
  }
  39.44% {
    transform: matrix3d(1.038, 0, 0, 0, 0, 1.038, 0, 0, 0, 0, 1, 0, -0.323, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.039, 0, 0, 0, 0, 1.039, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.009, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, -0.041, 0, 0, 1);
  }
  55.66% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  61.66% {
    transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, -0.021, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, -0.02, 0, 0, 1);
  }
  77.88% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.modal-job {
	position: fixed;
	z-index: -1;
	width: 0;
	height: 0;
	max-width: 0;
	max-height: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #3c424f;
}

.modal-job.active {
	z-index: 11;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.modal-job-content { 
	position: relative; 
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-job-nav { 
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),
							0 7px 10px 1px rgba(0,0,0,.14),
							0 2px 16px 1px rgba(0,0,0,.12);
}

.nav-box {
	position: relative;
	padding: 12px;
	cursor: pointer;
}

.nav-box i { display: inline-block; }

.nav-box-close { border-right: 1px solid #e6e9f2; }

.nav-box-prev { border-left: 1px solid #e6e9f2; }

.nav-box-next { border-left: 1px solid #e6e9f2; }

[class^="x-icon-"], [class*=" x-icon-"] {
  font-family: 'x-mark' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
	font-size: 2rem;
	color: #3c424f;
  text-transform: none;
  line-height: 1;
}

.x-icon-cross:before {
  content: "\e950";
}

[class^="chevron-icon-"], [class*=" chevron-icon-"] {
  font-family: 'chevron-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
	font-size: 1.8rem;
	color: #3c424f;
  text-transform: none;
  line-height: 1;
}

.chevron-icon-small-left:before {
  content: "\e900";
}
.chevron-icon-small-right:before {
  content: "\e901";
}


.modal-nav-meta {
	display: inline-block;
	margin: 0 !important;
	width: 70%;
	font-weight: 300;
	font-size: 14px;
	color: #838997;
	text-transform: uppercase;
	/*padding-right: 3em;*/
	line-height: 1.3;
}

.modal-nav-meta span { 
	display: block;
	font-weight: 900;
	font-size: 12px;
	color: #3c424f;
	text-transform: uppercase;
}

.nav-box-prev p {
	width: 75%;
	text-align: left !important;
}

.modal-job-content .job-post-info-container { 		position: relative;
	height: calc(100% - 60px); 
	margin-top: 60px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.modal-job-content .job-post-info-container .wrap {
	height: 100%;
} 

.job-post-info-container main {
	overflow-y: scroll;
	height: 100%;
}

.job-post-info-container aside {
	position: fixed;
	/*z-index: -1;*/
	top: 0;
	/*right: 0;*/
	bottom: 0;
	margin-top: 60px;
	padding: 1.5em 3em;
	background-color: #25ace4;
	box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),
							0 9px 12px 1px rgba(0,0,0,.14),
							0 3px 16px 2px rgba(0,0,0,.12);
}

/*.job-post-info-container aside:hover {
	z-index: 1;
}*/

.modal-nav-hidden,
.aside-hidden {
	display: none !important;
	height: 0;
}

.co-cover-page {
	position: relative;
	z-index: -1;
	min-height: 250px;
	color: #ffffff;
	background-color: #686b77;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.co-cover-page:before {
	position: absolute;
	content: '';
	background-color: rgba(60,66,79,.6);
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.company-address {
	position: relative;
	width: 30%;
	padding: 16px 32px;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
}

.company-address span { 
	display: block;
	text-align: left;
	font-weight: 300;
}

.company-address p {
	margin: 0;
	font-weight: 700;
	text-align: left;
}

.co-logo-holder {
	position: absolute;
	top: 0%;
	width: 200px;
	height: 200px;
	margin: -45px 0px;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 10px solid #3c424f;

	box-shadow: -8px 4px 5px -2px rgba(0,0,0,.1),
							-14px 7px 10px 1px rgba(0,0,0,.1),
							-4px 2px 16px 1px rgba(0,0,0,.1);
}

.job-header-meta-holder {
	position: absolute;
	width: 900px;
	min-height: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;;
	padding-top: 12px;
	padding-bottom: 12px;
}

.job-header-meta {
	float: right;
	width: calc(100% - 216px);
}

.job-header-meta h1 {
	margin: 0;
	font-weight: 800;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: .8;
}

.job-header-meta small {
	font-weight: 700;
	text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #e6e9f2;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #3c424f; 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: #686b77; 
}

.job-post-info {
	width: 900px;
	margin: 0 auto;
}

.job-meta-info { padding: 12px 16px; }

.job-meta-info .job-meta-title,
.job-meta-info .job-meta { 
	display: block;
	text-transform: uppercase;
}

.job-meta-info .job-meta-title { color: #25ace4; }

.job-meta-info .wrap .col:first-child { padding-right: 18px; }

.job-meta-info .wrap .col:last-child { padding-left: 18px; }

.job-meta-info .wrap .col:nth-child(2) { 
	padding-left: 18px;
	padding-right: 18px;
}

.job-meta-info .job-meta {
	font-weight: 500;
	color: #ffffff;
}

.job-description h1 { 
	margin: 0;
	margin-top: 1.5em;
	font-weight: 900;
	color: #25ace4;
	font-size: 16px;
	text-transform: uppercase;
}

.job-description-list,
.job-qualification-list { 
	margin: 0;
	margin-bottom: 1em;
}

.job-description-list li, 
.job-qualification-list li { 
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	margin-left: 25px;
}

.job-description-list li:before,
.job-qualification-list li:before {
	position: absolute;
	content: '';
	width: 11px;
	height: 11px;
	top: 22px;
	left: -25px;
	transform: translateY(-50%);
}

.job-description-list li:before {
	background: transparent url(assets/img/job-desc-bullet.png) no-repeat center center;
}

.job-qualification-list li:before {
	background: transparent url(assets/img/ability-bullet.png) no-repeat center center;
}

.job-intro,
.company-about {
	font-weight: 700;
	color: #ffffff;
}

.divider {
	display: block;
	margin: .5em auto;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.job-form-holder p {
	margin-top: 0;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}

.job-form-holder .form-btn {
	display: block;
	width: 245px;
	margin: 0 auto;
	padding: 10px 25px;
	font-size: 11px;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	outline: 0 ;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border: none;
	background-color: #3c424f;
	cursor: pointer;
}

.job-form-holder .apply-btn {
	margin-top: 1em;
	background-color: #ffffff;
	color: #3c424f;
	font-size: 18px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.job-form-holder .apply-btn:hover {
	background-color: #444444;
	color: #f7f7f7;
}

.job-form-holder .with-shadow {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
							0 2px 2px 0 rgba(0,0,0,.14),
							0 3px 1px -2px rgba(0,0,0,.12);
}

[class^="btn-icon-"], [class*=" btn-icon-"] {
  font-family: 'linkedin-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.btn-icon-linkedin { margin-right: 10px; }

.btn-icon-linkedin:before {
  content: "\eac9";
}

.job-form-holder .form-control {
	display: block;
	width: 245px;
	margin: 0 auto .3em;
	padding: 10px 20px;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	color: #3c424f;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
							0 1px 1px 0 rgba(0,0,0,.1),
							0 2px 1px -1px rgba(0,0,0,.1);
}

.job-form-holder .form-control:focus { outline: none; }

.job-form-holder input[type=file] { display: none; }

.job-form-holder label.form-btn {
	position: relative;
	margin-top: 1em;
	font-weight: 900 !important;
	width: 245px;
}

.job-form-holder label.form-btn:before {
	position: absolute;
	content: '\e001';
	left: 18px;
	top: -1px;
	font-size: 42px;
	font-family: 'app-icons', sans-serif;
	font-weight: 300;
	color: #25ace4;
	overflow: hidden;
}

.job-form-holder label[for="attach-resume"] {
	padding-left: 30px;
}

.job-form-holder label[for="attach-cover"] {
	padding-left: 45px;
}

.alternate-upload {
	position: relative;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 245px;
	font-weight: 900;
	color: #ffffff;
	text-align: center;
}

.alternate-upload:before,
.alternate-upload:after {
	position: absolute;
	content: '';
	top: 50%;
	width: 35%;
	height: 2px;
	background: rgba(60,66,79,.2);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);

}

.alternate-upload:before { left: 0; }
.alternate-upload:after { right: 0; }

[class^="app-icon-"], [class*=" app-icon-"] {
  font-family: 'app-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
	font-size: 1.5rem;
	color: #3c424f;
  text-transform: none;
  line-height: 1;
}

.attach-url-resume,
.attach-url-cover { 
	margin-top: .5em !important;
	cursor: pointer;
}

.app-icon-google-drive:before {
	content: '\ea8f';
}

.app-icon-dropbox:before {
	content: '\eaae';
}

.checkbox-holder {
	width: 245px;
	margin: 0 auto;
}

.checkbox-holder label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
	font-size: 12px;
	font-weight: 800;
}

.checkbox-holder label input[type=checkbox] {
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	*overflow: hidden;
}

.modal {
	display: none;
	position: fixed;
	z-index: 13;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color:rgba(60,66,79,.9);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.close-modal {
	position: absolute;
	z-index: 14;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

.modal-dialog {
	position: absolute;
	z-index: 15;
	top: 50%;
	left: 50%;
	width: 450px;
	padding: 20px;
	color: #ffffff;
	background-color: #3c424f;
	box-shadow: 0 2px 3px rgba(31, 33, 33, .6);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.modal h1 {
	margin: 0;
	text-align: center;
	color: #25ace4;
	font-weight: 800;
}

.modal p { 
	text-align: center; }

.modal .modal-action-holder {
	padding-top: .3em;
	padding-bottom: .3em;
}

.modal button {
	position: relative;
	top: 0;
	margin: 1em auto;
	padding: 10px 25px;
	font-size: 14px;
	text-align: center;
	color: #3c424f;
	background-color: #ffffff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 							0 5px 8px 0 rgba(0,0,0,.14),							0 1px 14px 0 rgba(0,0,0,.12);
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.modal button:active {
	top: 3px;
	box-shadow: none;
}

.pricing-holder header h1 {
	font-size: 31px;
	font-weight: 700;
	color: #3c424f;
	text-align: center;
}

.pricing-holder header h1 span { color: #25ace4; }

.price-list ul li {
	display: inline-block;
	width: 19.7%;
}

.price-box-container {
	position: relative;
	padding-bottom: 3em;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border: 1px solid #e6e9f2;
	background-color: #f6f8fe;
}

.price-list li:nth-child(odd) .price-box-container { padding-bottom: 2.6em; }
.price-list li:nth-child(even) .price-box-container .header-price-meta { padding-bottom: 60px; }

.price-list li:last-child  i { font-size: 4rem; }

.price-list li { position: relative; }

.header-price-meta {
	padding: 15px 0 55px;
	font-size: 20px;
	font-weight: 700;
	line-height: 44px;
	color: #ffffff;
	text-align: center;
	background-color: #25ace4;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.price-holder {
	height: 100px;
	width: 100px;
	margin: -50px auto 60px;
	padding-top: 22px !important;
	color: #25ace4;
	text-align: center;
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
							0 2px 2px 0 rgba(0,0,0,.14), 
							0 3px 1px -2px rgba(0,0,0,.12);
}

.pricing-holder header {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.price-holder span {
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
}

.price-holder small {
	display: block;
	margin-top: 4px; 
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase
}

.subscription-tag {
	display: block;
	position: absolute;
	background-color: #e6e9f2;
	left: 0;
	right: 0;
	margin: 0 1em;
	padding: 12px;
	font-weight: 900;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.price-list li:nth-child(odd) .subscription-tag { top: 15em; }
.price-list li:nth-child(even) .subscription-tag { top: 15.4em; }

.price-list li:last-child .subscription-tag {
	color: #ffffff;
	background-color :#25ace4;
}

.price-list .subcription-btn {
	position: absolute;
	width: 100%;
	padding: 10px 2px;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	cursor: pointer;
	box-shadow: none;
}

.add-subscription {
	color: #838997;
	border: 2px solid #838997;
}

.apply-subscription {
	color: #25ace4;
	border: 2px solid #25ace4;
}

.inquire-subscription {
	color: #ffffff;
	border: 2px solid #25ace4;
	background-color: #25ace4;
}

.price-list li:nth-child(odd) .subcription-btn { top: 19.5em; }
.price-list li:nth-child(even) .subcription-btn { top: 19.8em; }

.price-list li:nth-child(odd) .subcription-btn,
.price-list li:nth-child(even) .subcription-btn { margin-top: 1em; } 

.price-list .add-subscription:hover { background-color: #838997; }

.price-list .apply-subscription:hover { background-color: #25ace4; }

.price-list .add-subscription:hover,
.price-list .apply-subscription:hover {
	color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),
							0 1px 1px 0 rgba(0,0,0,.14),
							0 2px 1px -1px rgba(0,0,0,.12);
}

.price-list li:nth-child(odd) .subcription-btn:active { top: 19.8em; }
.price-list li:nth-child(even) .subcription-btn:active { top: 20.1em; }

.price-list li:nth-child(odd) .subcription-btn:active { box-shadow: none; }

.pricing-signup-cta p {
	margin-top: 5em;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #3c424f;
}

.pricing-signup-cta button {
	display: block;
	position: relative;
	top: 0;
	margin: 0 auto;
	padding: 15px 45px;
	font-weight: 900;
	color: #25ace4;
	text-transform: uppercase;
	background-color: transparent;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	border: 2px solid #25ace4;
	cursor: pointer;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	box-shadow: none;
	outline: none;
}

.pricing-signup-cta button:hover {
	color: #ffffff;
	background-color: #25ace4;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
							0 2px 2px 0 rgba(0,0,0,.14),
							0 3px 1px -2px rgba(0,0,0,.12);
}

.pricing-signup-cta button:active {
	top: 3px;
	box-shadow: none;
}

.pricing-info {
	margin-top: 1em;
	margin-bottom: 3em;
	font-size: 31px;
	font-weight: 300;
	color: #3c424f;
	text-align: center;
}

.pricing-info span {
	font-weight: 500;
	color: #25ace4;
	cursor: pointer;
}

.signup-panel {
	display: none;
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(60,66,79,.8);
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

.signup-panel.animated {
  -webkit-animation-duration: 10ms !important;
  animation-duration: 10ms !important;
}

.step-holder {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 800px;
	padding: 2em 3.5em;
	background-color: #25ace4;
	transform: translateX(795px);
	-webkit-transform: translateX(795px);
	-moz-transform: translateX(795px);
	-ms-transform: translateX(795px);
	-o-transform: translateX(795px);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
							0 8px 10px 1px rgba(0,0,0,.14),
							0 3px 14px 2px rgba(0,0,0,.12);
}

.step-holder.is-open {
	transform: translateX(376px);
	-webkit-transform: translateX(376px);
	-moz-transform: translateX(376px);
	-ms-transform: translateX(376px);
	-o-transform: translateX(376px);
}

.step-holder.is-open-stretch {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}

.step-holder h1,
.step-holder h3 {
	font-weight: 900;
	color: #3c424f;
}

.step-holder h1 {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 25px;
}

.step-holder h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 14px;
}

.step-holder input {
	display: block;
	width: 100%;
	margin-bottom: .3em;
	padding: 15px;
	font-size: 14px;
	font-weight: 500;
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border: none;
	outline: none;
}

.signup-step-btn {
	position: relative;
	top: 0;
	width: 100%;
	margin-top: .5em;
	padding: 15px;
	font-size: 14px;
	font-weight: 800;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #3c424f;
	border: none;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),							
							0 4px 5px 0 rgba(0,0,0,.14),						
							0 1px 10px 0 rgba(0,0,0,.12);
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.signup-step-btn.animated {
  -webkit-animation-duration: 400ms !important;
  animation-duration: 400ms !important;
}

.signup-step-btn:active {
	top: 3px;
	box-shadow: none;
}

.step-holder .employer-details { padding-right: 1.525em }
.step-holder .subscription-list { padding-left: 1.525em }

.subscription-choice {
	display: block;
}

.subscription-choice input { display: none; }

.subscription-choice {
	padding: 15px;
	font-weight: 700;
	font-size: 16px;
	color: #3c424f;
	text-transform: uppercase;
	background-color: rgba(60,66,79,.3);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.subscription-choice .desc {
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	font-weight: 700;
	font-size: 16px;
}

.subscription-choice .currency {
	font-weight: 700;
	font-size: 23px;
}

.subscription-choice .price {
	font-weight: 800;
	font-size: 36px;
}