<section class="page-masthead {{$state.current.data.mastheadClass}}">
  <img src="assets/img/left-bolt.png" alt="left-bolt">
  <img src="assets/img/right-bolt.png" alt="right-bolt">
	<div class="masthead-meta">
		<h1>Package Information</h1>
		<p>
			We offer 5 package options to cover companies of various sizes
		</p>
	</div>
</section>

<section class="container pricing-holder">
	<header>
		<h1>
			Each package is designed to bill <br> monthly with the opportunity to <br>
			<span>cancel at any time.</span>
		</h1>
	</header>

	<section class="price-list">
		<ul class="list-unstyled" style="text-align: center;">
			<li>
				<div class="price-box-container">
					<div class="header-price-meta">
						1 Job Post
					</div>
					<div class="price-holder">
						<span>$149</span>
						<small>monthly</small>
					</div>
					<span ng-if="vm.isAuthenticated" class="subscription-tag">currently subscribed</span>
				</div>
				<section ng-if="vm.isAuthenticated">
					<div class="subcription-btn add-subscription">Add</div>
				</section>
			</li>
			<li>
				<div class="price-box-container">
					<div class="header-price-meta">
						3 Job Posts
					</div>
					<div class="price-holder">
						<span>$399</span>
						<small>monthly</small>
					</div>
					<span ng-if="vm.isAuthenticated" class="subscription-tag">currently subscribed</span>
				</div>
				<section ng-if="vm.isAuthenticated">
					<div ng-if="!vm.isSubscribed" class="subcription-btn add-subscription">Add</div>
					<div ng-if="vm.isSubcsribed" class="subcription-btn apply-subscription">Subscribe</div>
				</section>
			</li>
			<li>
				<div class="price-box-container">
					<div class="header-price-meta">
						6 Job Posts
					</div>
					<div class="price-holder">
						<span>$715</span>
						<small>monthly</small>
					</div>
					<span ng-if="vm.isAuthenticated" class="subscription-tag">currently subscribed</span>
				</div>
				<section ng-if="vm.isAuthenticated">
					<div class="subcription-btn apply-subscription">Subscribe</div>
				</section>
			</li>
			<li>
				<div class="price-box-container">
					<div class="header-price-meta">
						10 Job Posts
					</div>
					<div class="price-holder">
						<span>$1050</span>
						<small>monthly</small>
					</div>
					<span ng-if="vm.isAuthenticated" class="subscription-tag">currently subscribed</span>
				</div>
				<section ng-if="vm.isAuthenticated">
					<div class="subcription-btn apply-subscription">Subscribe</div>
				</section>
			</li>
			<li>
				<div class="price-box-container">
					<div class="header-price-meta">
						Contract Recruiter
					</div>
					<div class="price-holder">
						<i class="fa fa-phone"></i>
					</div>
					<span class="subscription-tag">contact us</span>
				</div>
				<section ng-if="vm.isAuthenticated">
					<div class="subcription-btn inquire-subscription">Send us Message</div>
				</section>
			</li>
		</ul>
	</section>
</section>

<section class="container pricing-signup-cta" ng-if="!vm.isAuthenticated">
	<p>You need to sign up to post a job</p>
	<button type="button" ng-click="vm.test()">I want to sign up</button>
</section>

<section class="container pricing-info" ng-style="vm.isAuthenticated && {'margin-top':'3.5em'}">
	<p>
		If you are interested in having us actively recruit <br> for you, you can add the "<span>Contact Recruiter</span>" option, and <br> we will assign someone to actively search <br> for your roles. Please check our "<span>Recruiting</span>" page <br> to find out more about our recruiting services.
	</p>
</section>
