
<header class="panel-header-clr">
  <h2>Sign in</h2>
</header>
<form ng-submit="vm.login(user.username, user.password)" ng-cloak>
  <label>username</label>
  <input ng-model="user.username" type="text" autocomplete="off">
  <label>password</label>
  <input ng-model="user.password" type="password" autocomplete="off">
  <button type="submit" class="md-raised md-primary">Log in</button>
</form>
