<section class="page-masthead {{$state.current.data.mastheadClass}}">
  <img src="assets/img/left-bolt.png" alt="left-bolt">
  <img src="assets/img/right-bolt.png" alt="right-bolt">
	<div class="masthead-meta">
		<h1>Explore our jobs with our simple search...</h1>
	</div>
</section>

<section class="container job-search-bar-container">
	<div class="job-search-bar">
		<div class="wrap xl-table xl-middle job-search-bar-input">
			<div class="col" style="width:4%;">
				<img src="assets/img/job-search-icon.png" alt="job-search-icon">
			</div>
			<div class="col" style="width:81%;">
				<!--<input placeholder="Search for a location or job title...">-->
				<input placeholder="{{vm.filterModel}}." ng-model="q">
			</div>
			<div class="col" style="width:15%;">
				<button type="button">Search</button>
			</div>
		</div>
		<div class="search-filter-holder">
			<ul class="list-unstyled">
				<li	ng-dropdown-multiselect=""
						options="vm.jobFilters.jobPostDateFilter"
						selected-model="vm.filterModel"
						extra-settings="vm.postDateSettings"
						events="vm.onPostDateSelect">
					<toggle-dropdown>
						<button type="button">Post Date</button>
					</toggle-dropdown>
				</li>
				<li	ng-dropdown-multiselect=""
						options="vm.jobFilters.jobTitleFilter"
						selected-model="vm.filterModel"
						extra-settings="vm.jobTitleSettings" 
						events="vm.onJobTitleSelect">
					<toggle-dropdown>
						<button type="button">Job Title</button>
					</toggle-dropdown>
				</li>
				<li	ng-dropdown-multiselect=""
						options="vm.jobFilters.jobCategoryFilter"
						selected-model="vm.filterModel"
						extra-settings="vm.jobCategorySettings" 
						events="vm.onJobCategorySelect">
					<toggle-dropdown>
						<button type="button">Job Category</button>
					</toggle-dropdown>
				</li>
				<li	ng-dropdown-multiselect=""
						options="vm.jobFilters.jobLevelFilter"
						selected-model="vm.filterModel"
						extra-settings="vm.jobLevelSettings" 
						events="vm.onJobLevelSelect">
					<toggle-dropdown>
						<button type="button">Job Level</button>
					</toggle-dropdown>
				</li>
				<li	ng-dropdown-multiselect=""
						options="vm.jobFilters.jobTypeFilter"
						selected-model="vm.filterModel"
						extra-settings="vm.jobTypeSettings" 
						events="vm.onJobTypelSelect">
					<toggle-dropdown>
						<button type="button">Job Type</button>
					</toggle-dropdown>
				</li>
				<li	ng-dropdown-multiselect=""
						options="vm.jobFilters.jobLocationFilter"
						selected-model="vm.filterModel"
						extra-settings="vm.jobLocationSettings" 
						events="vm.onJobLocationSelect">
					<toggle-dropdown>
						<button type="button">Job Location</button>
					</toggle-dropdown>
				</li>
			</ul>
		</div>

	</div>
</section>

<section class="container filter-container" ng-show="vm.filterModel.length > 0">
	<div class="filter-listing">
		<div class="wrap xl-right">
			<div class="col xl-1-12 clear-filters" ng-click="vm.clearFilter()">Clear</div>
		</div>
		<ul class="list-unstyled">
			<li ng-repeat="filter in vm.filterModel">
				<div class="filter-pill">
					<span class="filter-type">{{filter.title}}: </span>
					<span class="filter-label">
						{{filter.label}} <span class="remove-filter-pill " ng-click="vm.removeFilter(filter)" ></span>
					</span>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="result-dt">
	<div class="container">
		<div class="wrap xl-flexbox">
				<div class="col xl-6-12 result-count">1-15 of 50,055 job matches</div>
				<div class="col xl-6-12 sort-dt">
					<select class="sort-relevance">
						<option value="">Sort by relevance</option>
						<option value="alphabetical">Alphabetical - A to Z</option>
						<option value="freshness">Freshness - Newest to Oldest</option>
					</select>
				</div>
		</div>

		<section class="jobs-dt">
			<table cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th>Posted Date</th>
						<th>Job Title</th>
						<th>Company</th>
						<th>Location</th>
						<th>Category</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="job in (vm.filtered = ( vm.jobPosts | filter: q ) | itemsPerPage: vm.pageSize.itemCount) track by $index" ng-click="vm.rowClick(job, vm.filtered)">
						<td class="td-post-date"><span ng-if="job.status == 1"></span>{{job.date_formatted}}</td>
						<td ng-bind="job.job_name"></td>
						<td ng-bind="job.company_name"></td>
						<td ng-bind="job.location"></td>
						<td ng-bind="job.job_category"></td>
					</tr>
				</tbody>
			</table>
			<br>
			<section class="footer-holder">
				<div class="wrap xl-flexbox">
					<div class="col xl-1-2">
						<div class="item-per-page-holder">
							<select class="item-per-page" ng-model="vm.pageSize.itemCount">
								<option ng-selected="{{item.itemCount == vm.pageSize.itemCount}}" ng-repeat="item in vm.itemsPerPage" value="{{item.itemCount}}">{{item.itemCount}}</option>
							</select>
						</div>
						<p class="per-page-meta">Items per page</p>
					</div>
					<div class="col xl-1-2">
						 <dir-pagination-controls boundary-links="true" on-page-change="vm.pageChangeHandler(newPageNumber)" template-url="components/browse-jobs/views/dirPagination.view.html"></dir-pagination-controls>
					</div>
				</div>
			</section>
		</section>
	</div>
</section>

<section class="modal-job">
	<section class="modal-job-content">
		<nav class="modal-job-nav">
			<div class="wrap xl-flexbox">
				<div class="col xl-1-2">
					<div class="wrap xl-left clearfix">
						<div class="col xl-1-4 nav-box nav-box-close" ng-click="vm.closeModalJob()">
							<i class="x-icon-cross"></i>
							<p class="modal-nav-meta pull-right">
								<span>Back</span>
								Search Jobs
							</p>
						</div>
					</div>
				</div>
				<div class="col xl-1-2">
					<div class="wrap xl-right xl-middle">
						<div class="col xl-1-4 nav-box nav-box-prev clearfix" ng-click="vm.prevJob(vm.chosenJob.index)" ng-if="vm.chosenJob.index > 0">
							<i class="chevron-icon-small-left"></i>
							<p class="modal-nav-meta">
								<span>Return</span>
								Show Prev
							</p>
						</div>
						<div class="col xl-1-4 nav-box nav-box-next" ng-click="vm.nextJob(vm.chosenJob.index)" ng-if="vm.chosenJob.index < vm.chosenJob.max">
							<p class="modal-nav-meta">
								<span>Continue</span>
								Show Next
							</p>
							<i class="chevron-icon-small-right"></i>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section class="job-post-info-container">	
			<div class="wrap xl-auto">
				<main class="col xl-9-12">
					<header class="co-cover-page" style="background-image: url({{vm.chosenJob.data.company_cover_path}})">
						<div class="wrap xl-flexbox xl-right">
							<div class="col-1-12 company-address">
								<span>Company Address</span>
								<p>{{vm.chosenJob.data.location}}</p>
							</div>
						</div>
						<section class="job-header-meta-holder">
							<section style="position: relative;">
								<figure class="co-logo-holder">
									<img class="center-block" ng-src="{{vm.chosenJob.data.company_logo_path}}" >
								</figure>
								<div class="job-header-meta">
									<h1 ng-bind="vm.chosenJob.data.job_name"></h1>
									<small>
										Chicago • NCC MEDIA
									</small>
								</div>
							</section>
						</section>
					</header>

					<header class="job-post-info">
						<div class="wrap xl-table">
							<section class="col" style="width:200px;"></section>
							<section class="col job-meta-info">
								<div class="wrap xl-auto">
									<div class="col">
										<span class="job-meta-title">Job Category</span>
										<span class="job-meta">{{vm.chosenJob.data.job_category}}</span>
									</div>
									<div class="col">
										<span class="job-meta-title">Career Level</span>
										<span class="job-meta">{{vm.chosenJob.data.job_title}}</span>
									</div>
									<div class="col">
										<span class="job-meta-title">Job Type</span>
										<span class="job-meta">{{vm.chosenJob.data.job_type}}</span>
									</div>
								</div>
								<br>
								<article>
									<section class="job-description">
										<p class="job-intro">
											With a fully functioning development team, we are capable of producing social games from inception to post-deployment improvements including local live operation management. Plus, we offer competitive compensation packages and an amazing work place with recreational areas, cool social events, free lunch, snacks and drinks.
										</p>

										<section ng-if="vm.chosenJob.data.jobDescription.length > 0">
											<h1>Job Description</h1>
											<ul class="list-unstyled job-description-list">
												<li ng-repeat="jobDescription in vm.chosenJob.data.jobDescription | toArray">
													{{jobDescription.meta_desc}}
												</li>
											</ul>
											<div class="divider"></div>
										</section>
										
										<section ng-if="vm.chosenJob.data.minimumQualifications.length > 0">
											<h1>Minimum Qualifications</h1>
											<ul class="list-unstyled job-qualification-list">
												<li ng-repeat="description in vm.chosenJob.data.minimumQualifications | toArray">
													{{description.meta_desc}}
												</li>
											</ul>
										</section>
										<section ng-if="vm.chosenJob.data.abilitiesSkills.length > 0 || vm.chosenJob.data.prepareYourselfFor.length > 0">
											<div class="wrap xl-flexbox xl-top">
												<div class="col xl-6-12">
													<h1>Abilities / Skills</h1>
													<ul class="list-unstyled job-qualification-list">
														<li ng-repeat="description in vm.chosenJob.data.abilitiesSkills | toArray">
															{{description.meta_desc}}
														</li>
													</ul>
												</div>
												<div class="col xl-6-12">
													<h1>Prepare yourself for:</h1>
													<ul class="list-unstyled job-qualification-list">
														<li ng-repeat="prepareYourselfFor in vm.chosenJob.data.prepareYourselfFor | toArray">
															{{prepareYourselfFor.meta_desc}}
														</li>
													</ul>
												</div>
											</div>
										</section>
										<div class="divider" ng-if="vm.chosenJob.data.minimumQualifications.length > 0 || vm.chosenJob.data.abilitiesSkills.length > 0 || vm.chosenJob.data.prepareYourselfFor.length > 0"></div>
										
										<section ng-if="vm.chosenJob.data.requiredSkills > 0">
											<h1>Required Skills</h1>
											<ul class="list-unstyled job-qualification-list">
												<li ng-repeat="requiredSkills in vm.chosenJob.data.requiredSkills | toArray">
													{{requiredSkills.meta_desc}}
												</li>
											</ul>
										</section>

										<section ng-if="vm.chosenJob.data.preferredSkills > 0 || vm.chosenJob.data.perksAndBenefits > 0">
											<div class="wrap xl-flexbox xl-top">
												<div class="col xl-6-12">
													<h1>Preferred Skills</h1>
													<ul class="list-unstyled job-qualification-list">
														<li ng-repeat="preferredSkills in vm.chosenJob.data.preferredSkills | toArray">
															{{preferredSkills.meta_desc}}
														</li>
													</ul>
												</div>
												<div class="col xl-6-12">
													<h1>Perks and Benefits</h1>
													<ul class="list-unstyled job-qualification-list">
														<li ng-repeat="perksAndBenefits in vm.chosenJob.data.perksAndBenefits | toArray">
															{{perksAndBenefits.meta_desc}}
														</li>
													</ul>
												</div>
											</div>
										</section>
										
										<p class="company-about">
											{{vm.chosenJob.data.company_profile}}
										</p>
										
									</section>
								</article>
							</section>
						</div>
					</header>
				</main>
				<aside class="col xl-3-12 aside-hidden job-form-holder">
					<button type="button" class="form-btn with-shadow">
						<i class="btn-icon-linkedin"></i>Apply with Linkedin
					</button>
					<p class="opt-caption">(optional)</p>
					<form name="vm.qwe{{vm.chosenJob.data.job_postid}}" ng-submit="vm.applyJobForm(vm['qwe'+vm.chosenJob.data.job_postid], vm.yeah)">
						<input ng-model="vm.yeah.firstName" class="form-control" type="text" placeholder="Firstname">
						<input class="form-control" type="text" placeholder="Lastname">
						<input class="form-control" type="text" placeholder="Email">
						<input class="form-control" type="text" placeholder="Phone">
						<section class="upload-fil-holder">
							<label class="form-btn" for="attach-resume">Attach Resume/CV
								<input type="file" ng-file-model="obj.testFile" id="attach-resume">
							</label>
							<span class="alternate-upload">OR</span>
							<p class="attach-url-resume">
								<i class="app-icon-google-drive"></i>
								<i class="app-icon-dropbox"></i>
							</p>
						</section>
						<section class="upload-fil-holder">
							<label class="form-btn" for="attach-cover">Attach Cover Letter
								<input type="file" ng-file-model="obj.testFile" id="attach-cover">
							</label>
							<span class="alternate-upload">OR</span>
							<p class="attach-url-cover">
								<i class="app-icon-google-drive"></i>
								<i class="app-icon-dropbox"></i>
							</p>
						</section>
						<input class="form-control" type="text" placeholder="LinkedIn Profile URL">
						<section class="checkbox-holder">
							<label class="checkbox" for="checkbox">
								<input type="checkbox" id="checkbox">
								Check this box if you would like our recruiters to send you other jobs that may be relevant to your background.
							</label>
						</section>
						<button type="submit" class="form-btn with-shadow apply-btn">
							Apply for this job
						</button>
					</form>
				</aside>
			</div>
		</section>
	</section>
</section>

<div class="modal modal-jellymate" role="dialog">
	<span class="close-modal" ng-click="vm.closeModal(); vm.nextJob(vm.chosenJob.index)"></span>

	<div class="modal-dialog">
		<h1>Thank you for applying</h1>
		<p>
			The hiring manager for this role will reach out to you directly if there is a fit.
		</p>
		<div class="modal-action-holder">
			<button type="button" ng-click="vm.searchMoreJobs()">Search for more jobs</button>
		</div>
	</div>
</div>

<!--<section ui-view="testimonial"></section>
<section ui-view="partners"></section>-->