<section class="masthead">
  <div class="video-overlay"></div>
  <video width="100%" height="100%">
    <source src="assets/bsy.webm" type="video/webm">
  </video>
  <div class="masthead-content">
    <h1 class="tagline-title animated">aditjobs</h1>
    <h2 class="tagline animated">The leading site for digital marketing jobs.</h2>
    <section class="search-bar clearfix animated">
      <input class="pull-left" type="text" name="search-keyword" placeholder="Search for a location or job title">
      <button class="pull-left" type="button">Search Jobs</button>
    </section>
    <img class="center-block animated" src="assets/img/chevron-64-w.png" alt="chevron">
  </div>
</section>

<section class="who-we-are section-info">
  <img src="assets/img/left-bolt.png" alt="left-bolt">
  <img src="assets/img/right-bolt.png" alt="right-bolt">
  <div class="container">
    <h1>Brands. Agencies. Publishers. Affiliates. Tech Providers.</h1>
    <h2>
      aditjobs is meant to serve as a meeting place for hiring managers and potential candidates <br> Our goal is to save you time by focusing on ONE awesome industry. <br>Join us and have better conversations with relevant people
    </h2>
  </div>
</section>

<section class="what-we-do">
  <div class="wrap xl-flexbox">
    <div class="col xl-5-12">
      <img class="" src="assets/img/bg-front.jpg" alt="bg-front">
    </div> 
    <div class="col xl-7-12">
      <h1>We'll always match you up with opportunities <br> that are the right fit</h1>
      <p>
        By focusing on one industry we have already narrowed your job search. <br>
        If you are currently in digital advertising and looking to make a transition, <br>
        then you have come to the right place. We offer the ability to upload a <br>
        resume or simply apply with your Linkedin profile. <br>
      </p>
      <button type="button">Browse Jobs</button>
    </div> 
  </div>
</section>

<section ui-view="testimonial"></section>
<section ui-view="partners"></section>