<section class="partners section-info">
  <img src="assets/img/left-bolt.png" alt="left-bolt">
  <img src="assets/img/right-bolt.png" alt="right-bolt">
  <div class="container">
    <h1>We Connect Creative People to Innovative Marketing Companies</h1>
    <h2>
      Use aditjobs to Network with Advertisers, Publishers, brands, Affliates, Ad Networks, and Agencies
    </h2>
  </div>
</section>

<section class="partners-logo">
  <div class="container">
    <div class="wrap xl-flexbox">
      <div class="col" ng-repeat="logo in vm.partners">
        <img ng-src="{{logo.imageUrl}}" alt="{{logo.alt}}">
      </div>
    </div>
  </div>
</section>