<section class="testimonial">
  <div class="testimonial-holder">
    <ul rn-carousel rn-carousel-controls rn-carousel-auto-slide rn-carousel-controls-allow-loop rn-carousel-transition="fadeAndSlide" rn-carousel-easing class="image">
      <li ng-repeat="client in vm.testimonials">
        <div class="container layer">
          <figure>
            <span class="center-block img-quote">"</span>
            <img class="center-block" ng-src="{{client.imageUrl}}" alt="">
            <figcaption class="center-block">
              "{{client.testimonial}}"
              <p>{{client.name}}</p>
              <small>{{client.position}}</small>
            </figcaption>
          </figure>
        </div>
      </li>
    </ul>
  </div>
</section>

