<section layout="row" flex>
	<md-content class="bg-clr" flex>

  <section class="dashboard-shell" layout="row" flex>
    <md-sidenav ui-view="sub-sidenav" class="sub-menu bg-clr md-sidenav-left" md-is-locked-open="true" md-whiteframe="15"></md-sidenav>
    <main ui-view="main-panel" class="main-panel-holder" flex>
      <ui-view></ui-view>
    </main>
  </section>

</md-content>
</section>