<md-toolbar class="breadcrumb-toolbar">
	<div class="md-toolbar-tools">
		<h1 class="md-toolbar-tools">{{vm.SubTitle}}</h1>
	</div>
</md-toolbar>
<section class="panel-area" layout-padding>
	<section ui-view="panel" class="main-panel-container"></section>
</section> 
