<md-toolbar>
	<div class="md-toolbar-tools">
		<md-icon md-svg-icon="assets/img/home.svg"></md-icon>
		<h1 class="md-toolbar-tools" ng-bind="vm.viewStateTitle"></h1>
	</div>
</md-toolbar>
<div class="sub-menu-list">
	<md-list-item md-ink-ripple="#7881A9" ui-sref="main.dashboard.home" ui-sref-active="active">
		<md-icon md-svg-icon="assets/img/home.svg"></md-icon>
		<p>Dashboard</p>
	</md-list-item>
	<md-list-item md-ink-ripple ui-sref="main.dashboard.recent" ui-sref-active="active">
		<md-icon md-svg-icon="assets/img/home.svg"></md-icon>
		<p>Recent Activity</p>
	</md-list-item>
</div>