<section class="total-panel-holder" layout="row" layout-align="start center" ng-cloak>
  <md-grid-list flex md-cols-gt-lg="4" md-cols-lg="2" md-cols-sm="1" md-row-height="2:1" md-row-height-lg="2:1" md-gutter="12px">
	<!-- <spinner name="im-total-stats-spinner" show="true" class="spinner">  
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</spinner> -->
    <md-grid-tile class="dashboard-panel total-panel" flex md-whiteframe="5" ng-repeat="type in vm.platformByService">
			<spinner name="{{type.platformType}}-total-stats-spinner" show="true" class="spinner">  
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </spinner> 
      <md-grid-tile-header>
				<h3 ng-bind="type.platformType"></h3>
			</md-grid-tile-header>
			<section layout="row" layout="start center" flex>
				<div flex="25" class="chart-circle decrease" easypiechart options="vm.optionsDn" percent="type.percent">{{type.percent}}</div>
				<div flex="50">
					<canvas class="chart chart-bar" chart-data="type.barData" chart-labels="vm.statsLabel" chart-series="vm.statsSeries" chart-options="vm.statsOptions" chart-dataset-override="type.barDatasetOverride" />
				</div>
				<p flex class="text-right">
					<span class="info-text">Total</span><br>
					<span class="info-num" ng-bind="type.total"></span>
					<md-divider style="margin: .5em 0; border: 1px solid transparent;"></md-divider>
					<span class="info-text">Current</span><br>
					<span class="info-num" ng-bind="type.current"></span>
				</p>
			</section>
			<md-grid-tile-footer>
				<section layout="row" layout-align="start center">
	        <h3 flex="80">Daily and Weekly Stats</h3>
					<h3 flex="20">+3,397</h3>
				</section>
			</md-grid-tile-footer>
		</md-grid-tile>
	</md-grid-list>
</section>

<section class="dashboard-panel linegraph-panel" layout="column" layout-align="start center" flex md-whiteframe="5" style="position: relative;" ng-cloak>
	<spinner name="line-chart-spinner" show="true" class="spinner">  
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</spinner>
	<header layout-fill><h3>Average statistics</h3></header>
	<section class="linegraph-statistics" layout="row" layout-align="start center" layout-fill>
		<div flex="65">
			<canvas class="chart chart-line" chart-data="vm.linegraphDataset.lgraphData" chart-labels="vm.statsLabel" chart-series="vm.statsSeries" chart-options="vm.statsOptions" chart-dataset-override="vm.linegraphDataset.lgraphDatasetOverride" width="1000" height="350" />
		</div>
		<div flex="20" style="margin-left: 20px;">
			<div class="chart-circle increase" easypiechart options="vm.optionsAvgStats" percent="vm.linegraphDataset.lgraphPercent">{{vm.linegraphDataset.lgraphPercent}}</div>
		</div>
		<p flex class="text-right">
			<span class="info-text">Total</span><br>
			<span class="info-num" ng-bind="vm.linegraphDataset.lgraphTotal"></span>
			<md-divider style="margin: .5em 0; border: 1px solid transparent;"></md-divider>
			<span class="info-text">Current</span><br>
			<span class="info-num" ng-bind="vm.linegraphDataset.lgraphCurrent"></span>
		</p>
	</section>
	<footer layout-fill><h3>Average statistics</h3></footer>
</section>

<section class="pie-container" layout="row" layout-align="start center" layout-fill ng-cloak>
	<md-grid-list flex md-cols-gt-lg="3" md-cols-lg="3" md-cols-sm="1" md-row-height="2:1" md-row-height-lg="1:1" md-gutter="12px" style="position: relative;">

		<md-grid-tile class="dashboard-panel total-panel" flex md-whiteframe="5">
      <spinner name="fl-activity-stats-spinner" show="true" class="spinner">  
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </spinner>
      <md-grid-tile-header>
        <h3>FL Activity Stats</h3>
      </md-grid-tile-header>
      <section layout="column" layout-align="center center" flex>
      	<div class="pie-holder">
      		<canvas class="chart chart-pie" chart-data="vm.freelancerPieDataset.freelancerPieData" chart-labels="vm.activityLabel" chart-colors="vm.freelancerPieDataset.freelancerPieColor" chart-options="vm.freelancerPieDataset.freelancerPieOptions" chart-dataset-override="vm.freelancerPieDataset.freelancerPieDatasetOverride" />
      	</div>
      </section>
      <md-grid-tile-footer>
        <h3 ng-repeat="datarange in vm.freelancerPieDataset.freelancerPieData"> {{datarange}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dashboard-panel total-panel" flex md-whiteframe="5">
      <spinner name="ft-activity-stats-spinner" show="true" class="spinner">  
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </spinner>
      <md-grid-tile-header>
        <h3>FT Activity Stats</h3>
      </md-grid-tile-header>
      <section layout="column" layout-align="center center" flex>
        <div class="pie-holder">
          <canvas class="chart chart-pie" chart-data="vm.fulltimerPieDataset.fulltimerPieData" chart-labels="vm.activityLabel" chart-colors="vm.fulltimerPieDataset.fulltimerPieColor" chart-options="vm.fulltimerPieDataset.fulltimerPieOptions" chart-dataset-override="vm.fulltimerPieDataset.fulltimerPieDatasetOverride" />
        </div>
      </section>
      <md-grid-tile-footer>
        <h3 ng-repeat="datarange in vm.fulltimerPieDataset.fulltimerPieData"> {{datarange}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dashboard-panel total-panel" flex md-whiteframe="5">
      <md-grid-tile-header>
      	<h3>Daily Top Stats</h3>
      </md-grid-tile-header>
      <md-tabs md-stretch-tabs="yes" flex layout="column" md-dynamic-height="false" md-selected="selectedIndex" md-no-pagination="true" md-border-bottom>
        <md-tab label flex layout="column">
          FL
          <md-tab-body flex layout-fill>
            <spinner name="top-freelancer-stats-spinner" show="true" class="spinner">  
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </spinner>
            <md-list>
              <md-list-item class="md-2-line md-long-text" layout-align="start center" ng-repeat="freelancer in vm.topFreelancerStats">
                <div class="md-list-item-text" layout-fill>
                  <section layout="row" layout-align="start center">
                    <section flex class="employee-meta">
                      <h3 ng-bind="freelancer.name"></h3>
                      <p ng-bind="freelancer.team"></p>
                    </section>
                    <p flex="15" class="top-stat" ng-bind="freelancer.stat"></p>
                  </section>
                  <span flex></span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-tab-body>
        </md-tab>
        <md-tab label flex layout="column">
          FT
          <md-tab-body flex layout-fill>
            <spinner name="top-fulltimer-stats-spinner" show="true" class="spinner">  
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </spinner>
            <md-list>
              <md-list-item class="md-2-line md-long-text" layout-align="start center" ng-repeat="fulltimer in vm.topFulltimerStats">
                <div class="md-list-item-text" layout-fill>
                  <section layout="row" layout-align="start center">
                    <section flex class="employee-meta">
                      <h3 ng-bind="fulltimer.name"></h3>
                      <p ng-bind="fulltimer.team"></p>
                    </section>
                    <p flex="15" class="top-stat" ng-bind="fulltimer.stat"></p>
                  </section>
                  <span flex></span>
                </div>  
              </md-list-item>
            </md-list>
          </md-tab-body>
        </md-tab>
        <md-tab label flex layout="column">
          TEAM
          <md-tab-body flex layout-fill>
            <spinner name="top-team-stats-spinner" show="true" class="spinner">  
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </spinner>
            <md-list>
              <md-list-item class="md-2-line md-long-text" layout-align="start center" ng-repeat="team in vm.topTeamStats">
                <div class="md-list-item-text" layout-fill>
                  <section layout="row" layout-align="start center">
                    <section flex class="employee-meta">
                      <h3 ng-bind="team.name"></h3>
                      <p ng-bind="team.team"></p>
                    </section>
                    <p flex="15" class="top-stat" ng-bind="team.stat"></p>
                  </section>
                  <span flex></span>
                </div> 
              </md-list-item>
            </md-list>
          </md-tab-body>
        </md-tab>
      </md-tabs>
      <md-grid-tile-footer>
      	<h3>Daily and Weekly Stats</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</section>

<section class="platforms-panel" layout="column" layout-align="start center" layout-fill md-whiteframe="5" md-cols-gt-lg="4" md-cols-lg="1" md-cols-sm="1" md-row-height="2:1" md-row-height-lg="2:1" md-gutter="12px" ng-cloak>
  <header layout-fill><h3>Platforms Stats</h3></header>
  <section class="platform-grid-holder" layout-fill style="position: relative;">
    <md-grid-list flex md-cols-gt-lg="2" md-cols-lg="2" md-cols-sm="1" md-row-height="1:1" md-row-height-lg="1:1" md-gutter="12px">
		  <spinner name="platforms-stats-spinner" show="true" class="spinner">  
		    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
		  </spinner>
      <md-grid-tile ng-repeat="platform in vm.platformStats" ng-cloak>
        <md-grid-tile-header>
          <h3 ng-bind="platform.platformName"></h3>
        </md-grid-tile-header>
        <section layout="column" layout-align="space around" flex>
          <section flex="100" layout-fill>
            <canvas class="chart chart-line" chart-data="platform.range" chart-labels="vm.statsLabel" chart-series="vm.statsSeries" chart-options="vm.statsOptions" chart-dataset-override="platform.platformLineDatasetOverride"/>
          </section>
          <section class="platform-stat-box" layout="row" layout-align="start center">
            <div class="platform-total" flex="33">
              <span class="info-text">Total</span><br>  
              <span class="info-num" ng-bind="platform.platformTotal"></span>
            </div>
            <div class="platform-current" flex="33">
              <span class="info-text">Current</span><br>  
              <span class="info-num" ng-bind="platform.platformCurrent"></span>
            </div>
            <div class="platform-lead" flex="33">
              <span class="info-text">Lead: {{platform.leadOperator.operatorName}}</span>
              <span class="info-num" ng-bind="platform.leadOperator.stat"></span>
            </div>
          </section>
        </section>
        <md-grid-tile-footer>
          <!-- <h3>Lead: <span ng-bind="platform.leadOperator.operatorName"></span></h3>
          <h3 ng-bind="platform.leadOperator.stat"></h3> -->
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
  </section>
  <footer layout-fill><h3>Platforms Stats</h3></footer>
</section>











