<section class="footer">
		<a href="#" scroll-to="scroll-to-me">
			<img class="scroll-top center-block" src="assets/img/chevron-64-vw.png" alt="chevron">
		</a>
	<section class="footer-upper">
		<div class="container">
			<div class="wrap xl-flexbox xl-top">
				<div class="col xl-1-3 footer-content">
					<h1 class="header-title">Meta</h1>
					<ul class="list-unstyled">
						<li>
							<a href="">Register</a>
						</li>
						<li>
							<a href="">Login</a>
						</li>
					</ul>
				</div>
				<div class="col xl-1-3 footer-content">
					<h1 class="header-title">Important Links</h1>
					<ul class="list-unstyled">
						<li>
							<a href="">Terms & Policies</a>
						</li>
						<li>
							<a href="">FAQS</a>
						</li>
					</ul>
					<h1 class="header-title newsletter">Subscribe to our Newsletter</h1>
					<form class="news-letter-form clearfix">
						<input class="pull-left" type="email" placeholder="Your email">
						<button type="submit">Subscribe</button>
					</form>
				</div>
				<div class="col xl-1-3 footer-content">
					<h1 class="header-title">aditjobs - Medias Most Wanted INC</h1>
					<p>
						2629 Foothill Blvd # 150 La Crescenta CA 91214
						<br>
						<span class="support-info">
							support@aditjobs.com
						</span>
					</p>
					<h1 class="header-title newsletter">Follow us</h1>
					<ul class="list-unstyled social-icons">
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="footer-lower">
		<div class="container">
			<p>© 2017 Aditjobs.com. All rights reserved.</p>
		</div>
	</section>
</section>