<div id="scroll-to-me"></div>
<nav ui-view="nav-toolbar" ng-class="
    (waypoints.flags.on) ? 'scrolled' : ''
" class="nav {{$state.current.name === 'main.home' ? 'nav-home' : 'nav-page'}}" ></nav>
  <div class="waypoint" zum-waypoint="waypoints" down="flags.on"up="flags.off"></div>
	<ui-view></ui-view>
<section ui-view="signup-panel"></section>
<footer ui-view="footer"></footer>