<div class="container clearfix">
  <div class="nav-brand">
    <img ui-sref="main.home" ng-src="../assets/img/{{$state.current.name === 'main.home' ? 'logo-white' : 'logo-black'}}.png" alt="">
  </div>
  <ul class="navbar pull-right">
    <li ui-sref-active="active"><a ui-sref="main.browsejobs">Browse Jobs</a></li>
    <li ui-sref-active="active"><a ui-sref="main.pricing">Pricing</a></li>
    <li><a>FAQS</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Contact Us</a></li>
    <li><a href="">Recruiting</a></li>
    <li ng-if="!vm.isAuthenticated" class="signup-btn" ng-click="vm.signup()"><a>Sign Up</a></li>
    <li ui-sref-active="active">
      <a ng-if="!vm.isAuthenticated" ui-sref="login">Login</a>
      <a ng-if="vm.isAuthenticated" ui-sref="logout">Logout</a>
    </li>
  </ul>
</div>