<section class="signup-panel animated" ng-click="vm.closeBackdrop()">
  <div class="step-holder">
    <h1>Sign-up</h1>
    <div class="wrap xl-flexbox">
      <div class="col xl-6-12 employer-details animated">
        <h3>Employer Details</h3>
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Confirm Password">
        <input type="text" placeholder="Company Email">
        <br>
        <input type="text" placeholder="Company Name">
        <input type="text" placeholder="Contact Name">
        <input type="text" placeholder="Contact Phone Number">
        <input type="text" placeholder="Company Address">
        <button type="button" class="signup-step-btn choose-subscription animated" ng-click="vm.showSubscriptions()">Choose Subscription</button>
      </div>

      <div class="col xl-6-12 subscription-list animated fadeOut">
        <h3>Subscription</h3>
        <div class="wrap xl-flexbox">
          <div class="col xl-1-1">
            <label for="one-post" class="subscription-choice">
              <div class="wrap xl-flexbox xl-middle">
                <div class="col xl-1-2">
                  <i class="fa fa-check fa-2x"></i>
                  <span class="desc">1 Job Post</span>
                </div>
                <div class="col xl-1-2 text-right">
                  <span class="price"><span class="currency">$</span>149</span>/mo.
                  <input type="radio" id="one-post">
                </div>
              </div>
            </label>
          </div>
        </div>
        <button type="button" class="signup-step-btn proceed-billing animated">Proceed to Billing</button>
      </div>
    </div>
  </div>
</section>